.content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    min-height: 796px;
}
.action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgba(5, 93, 107, 0.8);
    font-size: 40px;
    color: white;
    box-shadow: 0px 4px 15px rgb(192, 192, 192);
    margin-top: -3px;
}
.gds {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    line-height: 30px;
    min-height: 700px;
    margin-top: 3%;
}
.gds1 img{
    margin-left: -40px;
}
.gds1 {
    background-color: white;
    width: 280px;
    min-height: 250px;
    padding-top: 25px;
    padding-left: 30px;
    box-shadow: 0px 4px 15px rgb(192, 192, 192);
    margin: 0 0 3% 3.1%;
}

.gds button,
.gds__pages button{
    background-color: rgba(0, 176, 166, 0.7);
    color: black;
    border-radius: 2px;
    margin-top: 10px;
    border: none;
    height: 40px;
    width: 250px;
    font-size: 100%;
    transition: .3s ease-in-out all;
}

.gds button:hover,
.gds__pages button:hover {
    color: white;
    background-color: rgba(5, 93, 107, 0.8);
}
.edit-block {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
}

.edit-product {
    background-color: rgb(204, 202, 202);
    border-radius: 5px;
    width: 40%;
    height: 150px;
    padding: 30px 50px;
    margin: 250px auto;
    text-align: center;
}

.edit-title {
    margin-bottom: 40px;
    font-size: 130%
}

.editing-select {
    width: 150px;
    height: 30px;
    padding-left: 3px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.editing-block input {
    width: 150px;
    height: 30px;
    padding-left: 3px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.sub-change-btn {
    background-color: rgba(19, 131, 205, 1);
    border: none;
    border-radius: 5px;
    height: 30px;
    color: white;
    width: 70px;
}